body
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00AFF0;
 
#wrapper
  width: 300px
  margin: 0 auto
  background: #fff
  border:1px solid #ccc;

#logo
  text-align: center

#display
  border-radius:4px;

#userbar
 padding: 10px 10px;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a67ad), color-stop(100%, #2e5288));
 color: #fff;

#header
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a67ad), color-stop(100%, #2e5288));
 color: #fff;
 font-size: 30px;
 text-align: center;

.username
 font-size: 20px;
 text-align: center;
 color: #000;
 margin-top: 20px;

.textBox
 width: 230px;
 margin: 10px 30px;

.btn
 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff200), to(#ffd500));
 border-radius:4px;
 width: 230px;
 margin: 10px 30px;

#footer
 text-align: center;
 margin: 10px 0px;

.floatright
 float:right

#menu
 font-size:20px;
 padding:10px


#books
 margin:0px 10px

#description
 margin:10px

#pageMargin
 margin:10px

