extends layout

block content
  #wrapper
    #display
      include userbar
    #description  
      p The #{name.toUpperCase()} is one of the must-have items for any aspiring Techies. It costs just $#{price} on our store.
      p Buy it today!
      
    include footer
